In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('register_of_interests.csv')
df

,public_whip_id,member_name,category_name,free_text,earliest_declaration,latest_declaration,new_in_latest,declared_in_latest,extracted_orgs,extracted_sum
0,uk.org.publicwhip/person/10001,Diane Abbott,Registrable shareholdings,Smithville Associates.,2002-05-14,2002-05-14,False,False,Smithville Associates,NaN
1,uk.org.publicwhip/person/10001,Diane Abbott,Remunerated directorships,Smithville Associates; a training consultancy.,2000-11-10,2002-05-14,False,False,Smithville Associates,NaN
2,uk.org.publicwhip/person/10001,Diane Abbott,"Remunerated employment, office, profession etc.",Occasional lecturing and journalism.,2000-11-10,2002-05-14,False,False,NaN,NaN
3,uk.org.publicwhip/person/10001,Diane Abbott,Overseas visits,"16-23 June 2003, to Jamaica as participant in ...",2004-01-31,2004-01-31,False,False,the Jamaican Environmental Trust National Awar...,NaN
4,uk.org.publicwhip/person/10001,Diane Abbott,"Remunerated employment, office, profession etc",Arcadia Lectures in 2003 for School of Orienta...,2004-05-21,2004-07-16,False,False,School of Oriental; African Studies,"Up to £; 5,000)2"
...,...,...,...,...,...,...,...,...,...,...
115750,uk.org.publicwhip/person/26277,Sarah Edwards,Miscellaneous,"Until 20 October 2023, a trustee of Unite the ...",2023-11-27,2024-02-19,False,True,Unite the Union Pension,NaN
115751,uk.org.publicwhip/person/26277,Sarah Edwards,Miscellaneous,"Until 22 October 2023, Member of the Mid Count...",2023-11-27,2024-02-19,False,True,the Mid Counties Coop Board,NaN
115752,uk.org.publicwhip/person/26278,Alistair Strathern,(a) Support linked to an MP but received by a ...,Name of donor: UNISON Address of donor: UNISON...,2023-11-27,2024-02-19,False,True,UNISON Centre,"2,000"
115753,uk.org.publicwhip/person/26278,Alistair Strathern,(a) Support linked to an MP but received by a ...,Name of donor: USDAW Address of donor: Head Of...,2023-11-27,2024-02-19,False,True,Head Office,"5,000"
115754,uk.org.publicwhip/person/26278,Alistair Strathern,Miscellaneous,I hold share options in OakNorth Holdings Limi...,2023-11-27,2024-02-19,False,True,OakNorth Holdings Limited,NaN